<%= render 'layouts/error_messages', model: f.object %>
	  
<div class="upload-btn-wrapper">
  <button class="btndash"><i class="fas fa-file" style="font-size: 20px;"></i> ブログ画像投稿</button>
	<%= f.file_field :blog_images, onChange:'inform()' %>
</div>
<h5 id="file_name"></h5>

<% if @blog.blog_images? %>
 	<p><%= f.check_box :remove_image %>画像を削除する</p>
<% end %>
		
<div class="form-group mt-4">
 	<%= f.label :title %>
 	<%= f.text_field :title, class: 'form-control' %>
</div>
		
<div class="form-group">
 	<%= f.label :body %>
 	<%= f.text_area :body, class: 'form-control', placeholder: '1200文字以内で記載してください。', rows: 20 %>
</div>
  
<div class="form-group">
 	<%= f.label :janre %>
 	<%= f.select :janre, Blog.janre_options ,class: 'form-control' %>
</div>
		
