<div class="row">
	<div class="col-sm-6 offset-sm-3">
		<div class="janre-color" style="background-color: <%= janre_color(@blog.janre) %>;">
			<%= Blog.janre_text(@blog.janre) %>
		</div>
		<div class="text-center mt-2">
			<div class="mb-5">
				<div class="d-flex justify-content-center"><%= image_tag @blog.blog_images.url %></div>
			</div>
		</div>
		<h2><strong><%= @blog.title %></strong></h2>
		<div>
			<%= render 'favorites/like_button', blog: @blog %>
		</div>
		<div class="mt-2">
			<% if @blog.user.image? %>
				<%= link_to (image_tag @blog.user.image.thumb.url, class: 'image-radius'), user_path(@blog.user) %>
			<% else %>
				<%= link_to user_path(@blog.user) do %>
					<i class="far fa-grin-alt" style="font-size: 30px; color: black;"></i>
				<% end %>
			<% end %>
			<span class="name-link"><%= link_to @blog.user.name, user_path(@blog.user) %></span>
			<span style="color: #a39e9e;"><%= @blog.created_at.strftime("%Y/%m/%d %H:%M") %></span>
		</div>
		<div class="mt-5 body-font-size">
			<p><%= simple_format @blog.body %></p>
		</div>
		<% if @blog.user == current_user %>
			<div class="d-flex justify-content-end">
				<%= link_to '編集する', edit_blog_path(@blog), class: 'btn btn-primary' %>
				<%= link_to 'ブログを削除する', blog_path(@blog), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-dark ml-3' %>
			</div>
		<% end %>
	</div>
</div>
