<%= render 'users/introduce' %>
<ul class="nav nav-tabs nav-justified mt-5">
  <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>"><%= @user.name %>さんのブログ一覧</a></li>
  <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>"><%= @user.name %>さんのお気に入り一覧</a></li>
</ul>

<div class="row">
	<div class="col-sm-6 offset-sm-3">
		<% @blogs.each do |blog| %>
			
			<%= render 'toppages/blogs', blog: blog %>
			
		<% end %>
		<div class="mt-5"><%= paginate @blogs %></div>
	</div>
</div>