<header class="mb-4 sticky-top">
  <nav class="navbar navbar-expand-sm navbar-light bg-light" >
    <a class="navbar-brand" href="/"><i class="far fa-sticky-note"></i> <strong>Indoor Blog</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
      	<form class="mr-4 form-inline my-2 my-lg-0">
     			<input class="form-control mr-sm-2" type="search" placeholder="キーワードや作者名" aria-label="Search">
     			<button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i> 検索</button>
   			</form>
      	<% if login? %>
        	<li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            	<% if current_user.image? %>
            		<%= image_tag current_user.image.thumb.url, class: 'image-radius'%> <%= current_user.name %>
            	<% else %>
            		<i class="far fa-grin-alt" style="font-size: 30px; color: black;"></i> <%= current_user.name %>
            	<% end %>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to 'マイページ', user_path(current_user) %></li>
              <li class="dropdown-item"><%= link_to 'マイアカウント情報', account_path %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-item' %></li>
            </ul>
          </li>
          <li class="nav-item">
          	<%= link_to new_blog_path, class: 'nav-link btn btn-primary' do %>
          		<span style="color: white;"><i class="fas fa-pen"></i> ブログ投稿</span>
          	<% end %>
          </li>
   			<% else %>
        	<li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
        	<li class="nav-item"><%= link_to '新規登録', new_user_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>