<header class="mb-4 sticky-top">
  <nav class="navbar navbar-expand-sm navbar-light bg-light" >
    <a class="navbar-brand" href="/"><i class="far fa-sticky-note"></i> <strong>Indoor Blog</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
      	<dl class="searchbox mt-2 mr-2">
  				<%= search_form_for @q, url: root_path do |f| %>
   			  <dt><%= f.text_field :title_or_body_or_user_name_has_every_term , placeholder: '投稿者名やキーワードなど' %></dt>
 			    <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
 			  <% end %>
				</dl>
      	<% if login? %>
        	<li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            	<% if current_user.image? %>
            		<%= image_tag current_user.image.thumb.url, class: 'image-radius'%> <%= truncate current_user.name, length: 10 %>
            	<% else %>
            		<i class="far fa-grin-alt" style="font-size: 30px; color: black;"></i> <%= truncate current_user.name, length: 10 %>
            	<% end %>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to 'マイページ', user_path(current_user) %></li>
              <li class="dropdown-item"><%= link_to 'マイアカウント情報', account_path %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-item' %></li>
            </ul>
          </li>
          <li class="nav-item">
          	<%= link_to new_blog_path, class: 'nav-link btn btn-primary mt-1' do %>
          		<span style="color: white;"><i class="fas fa-pen"></i> ブログ投稿</span>
          	<% end %>
          </li>
   			<% else %>
        	<li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link mt-2' %></li>
        	<li class="nav-item"><%= link_to '新規登録', new_user_path, class: 'nav-link mt-2' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>