<div class="text-center mt-4">
	<h2>マイアカウント情報</h2>
</div>


<div class="center jumbotron mt-4">
	<div class="row">
		<div class="col-sm-2 offset-sm-4">
			<strong>ニックネーム</strong>
		</div>
		<div class="col-sm-2">
			<%= current_user.name %>
		</div>	
	</div>
	
	<div class="row mt-4">
		<div class="col-sm-2 offset-sm-4">
			<strong>メールアドレス</strong>
		</div>
		<div class="col-sm-2">
			<%= current_user.email %>
		</div>	
	</div>
	
	<div class="row mt-4">
		<div class="col-sm-2 offset-sm-4">
			<strong>パスワード</strong>
		</div>
		<div class="col-sm-2">
			********
		</div>	
	</div>
</div>

<div class="d-flex justify-content-end">
	<%= link_to 'マイアカウントの編集', edit_account_path, class: 'mr-2' %>
	<span class="border-right"></span>
	<%= link_to 'パスワードの変更', edit_password_path, class: 'ml-2 mr-2' %>
	<span class="border-right"></span>
	<%= link_to '退会する', user_path(current_user), method: :delete, data: { confirm: '本当に退会しますか？ 投稿したブログも削除されます。' }, class: 'ml-2' %>
</div>
